:root {
    --primary-color: #9f2b2b;
    /*hibiscus red*/
    --secondary-color: #f4a460;
    /*sandy brown*/
    --dark-color: #2c1810;
    /*dark brown*/
    --light-color: #fff5ee;
    /*cream*/
    --error-color: #c00;
    /*red*/
    --transition-speed: 0.3s;
    /*transition speed for animations*/

}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Playfair Display", serif;
}

header {
    background-color: lightgray;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.product {
    text-align: center;
    padding: 1.5rem;
    border-radius: 10px;
    transition: transform var(--transition-speed);
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    height: 200px;
    border-radius: 10px;
    margin: 1rem 0;
    object-fit: cover;
}

.add-to-cart {
    background-color: var(--primary-color);
    color: white;
    padding: .5rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    transition: background var(--transition-speed);
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: var(--dark-color);
}

footer {
    background-color: darkgray;
    padding: 10px;
    color: white;
}